@using CatalogoWebApp.Services
@model IList<CatalogoWebApp.Models.TrabajoDeGraduacion>
@inject IPathResolver PathResolver

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Catalogo</h2>
<br />
<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading"><img src="@PathResolver.GetUrl(item.PathImagen)" alt="puntofijo" class="img-responsive" /></div>
                <div class="panel-body">
                    <h5 class="text-center">@item.Titulo</h5>
                    <dl>
                        <dt>
                            @nameof(item.Autor):
                        </dt>
                        <dd>
                            @item.Autor.Nombres @item.Autor.Apellidos
                        </dd>
                        <dt>
                            Año:
                        </dt>
                        <dd>
                            @item.Fecha.Year
                        </dd>
                        <dt>
                            Carrera:
                        </dt>
                        <dd>
                            @item.Autor.Carrera?.Nombre
                        </dd>
                        <dt>
                            <a asp-controller="TrabajosDeGraduacion" asp-action="Details" asp-route-id="@item.AutorId">Ver</a>
                        </dt>
                    </dl>
                </div>
            </div>
        </div>

    }
</div>

